<%= javascript_include_tag "flotr"%>
<%= javascript_include_tag "excanvas"%>
<%= javascript_include_tag "prototype-1.6.0.2.js"%>
<center>
    <%= @player.name%>
    </br>
    <%= @team.name %> <%= @player.number%>
    </br>
    <span>Average Rating</span> <%= '%.2f' % @player.current_rating %>
<div id="performance_lines" style="width:600px;height:300px;"></div>
</center>
<script type="text/javascript">
var player_data = [];
var team_data = [];
var player_rating = <%= array_or_string_for_javascript(@rating_data)%>;
var average_rating = <%= array_or_string_for_javascript(@average_ratings)%>;

//populate player data
for (var i = 0; i < <%=@rating_data.size()%>;i++)
{
    player_data.push([i, parseFloat(player_rating[i])]);
    team_data.push([i,parseFloat(average_rating[i])]);
}
var f = Flotr.draw(
	$('performance_lines'), 
        [ 
    		{data:player_data, label:'Player Performance', lines:{show:true}, points:{show:true}, mouse:{track:true}},
    		{data:team_data, label:'Team Performance', lines:{fill: true}}											
    	],{
    		legend:{
    			position: 'sw', // => position the legend 'south-east'.
    			backgroundColor: '#D2E8FF' // => a light blue background color.
    		},
    		yaxis:{
    		    min:0,
    		    max:10
    		},
    		mouse:{
    		    track: true,
        		color: 'purple',
        		sensibility: 1, // => distance to show point get's smaller
        		trackDecimals: 2,
        		trackFormatter: function(obj){ return 'Rating = ' + obj.y; }
    		}
    	}
    );
</script>
<div id="performance_table">
<center>
<table>
<thead>
    <th> VS </th>
    <th> Shots </th>
    <th> Goals </th>
    <th> PA </th>
    <th> PC</th>
    <th> Rating </th>
<thead>
<tbody>
    <%= render "plays"%>
</tbody>
<center>
</div>

