 <%= javascript_include_tag :defaults %>
 <%= csrf_meta_tag %>

 <script type="text/javascript">

 function BUDEffect(element){
     new Effect.toggle(element,'Blind', {duration:0.5});
 }
 </script>

    <div id="sidebar">
        <li><%= link_to @home_team_name, :controller => "team", :action => "show", :id =>@match.home_team_id %></li>
        
        <div onclick="BUDEffect($(homeplays))">
            Show/Hide
        </div>
       <p></p>
       <li><%= link_to @away_team_name, :controller => "team", :action => "show", :id =>@match.away_team_id %></li>
        <div onclick="BUDEffect($(awayplays))">
            Show/Hide
        </div>
         <div id="homeplays" style="font-size:11px; display:none">
                <table class="pretty-table">
                <%= render "playhead"%>
                <tbody>
                <% for p in @home_plays %>
                    <%= render p%>
                <% end %>
                </tbody>
                </table>
        </div>
        <div id="awayplays" style="font-size:11px; display:none">
                <table class="pretty-table">
                <%= render "playhead"%>
                <tbody>
                <% for p in @away_plays %>
                    <%= render p%>
                <% end %>
                </tbody>
                </table>
        </div>

    </div>
    <div id="performanceGraphs">
        <%= render "dual_graph"%>
        <div class"clear"></div>
    </div>
	<div id="re-search" style="display: none;">
		<a href="#" class="close">X</a>
		<p>Do you want to search for: <span></span></p>
		<ul>
			<li><a href="#" class="yes">Yes</a></li>
			<li><a href="#" class="no">No</a></li>
		</ul>
	</div>

